.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../public/images/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
